@import "../../styles/Variables.scss";

.container{
    display: flex;
    justify-content: center;
    background-color: $bgBlue;
    height: 100vh;
}

.formlogin{
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bgBlue;
    padding: 0 15px;
    box-sizing: border-box;
    

    img{
        margin-bottom: 20px;
    }

    input[type="text"], [type="password"]{
        background-color: $navyBlue;
        min-width: 278px;
        border: 0;
        color: #FFF;

        &:focus{
            background-color: $navyBlue;
            color: #FFF;
        }

        @media(max-width: 300px){
            min-width: 100%;
        }
    }
    
    button{
        background-color: $green;
        color: #000;
        text-transform: uppercase;
        width: 100%;

        &:hover{
            background-color: $greenHover;
        }

        &:focus{
            background-color: $greenHover;
        }
    }

    p{
        color: #FFF;
        margin-top: 10px;
        text-align: center;
    }

    
}

.checkText{
    color: #FFF;
}
.checkGroup{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 16px;
    margin-top: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 5px;
    bottom: 0;
    background-color: $navyBlue;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 18px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $green;
}

input:focus + .slider {
    box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.logado{
    color: #FFF;
    margin-left: 5px;
}

.cadastro{
    color: $green;
    text-decoration: none;
    margin-top:10px;
    text-align: right;
    display: block;

    &:hover{
        color: $greenHover;
    }
}