@import "../../styles/Variables.scss";

.border{
    border-bottom: 1px solid $lightGray;
}

.form-control{
    background-color: $lightGray;
}


.sidebarInput {
    background-color: $lightGray !important; 
    border: none !important;
}
.sidebarBtn{
    background-color: $lightGray !important;
    border: none !important;
    color: #9C9C9C !important;

    &:hover{
        background-color: $greenHover !important;
        color: #FFF !important;
    }
}



nav{
    ul{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin: 0;

        li{
            list-style: none;
            margin-bottom: 15px;
    
            a{
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                color: $navyBlue;
                text-decoration: none;

                &:hover{
                    color: $greenHover;
                }

                svg{
                    margin-right: 10px;
                }
            }
        }
    }
}

.head{
    display: flex;
    background-color: $navyBlue;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 400px){
        flex-direction: column;
        gap: 20px;
    }
}

.btnMenuHeader{
    background-color: transparent;
    color: $greenHover;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5rem;
    line-height: 1;
    margin-right: 10px;

    &:hover{
        background-color: $greenHover;
        color: #FFF;
    }
    &:active{
        background-color: $greenHover;
        color: #FFF;
    }
    &:focus{
        background-color: $greenHover;
        color: #FFF;
    }
}

.btnAddToCart{
    background-color: transparent;
    color: $greenHover;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5rem;
    line-height: 1;
    position: relative;

    span{
        border-radius: 50%;
        font-size: 0.8rem;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        width: 22px;
        height: 22px;
    }

    &:hover{
        color: #FFF;
    }
}

.btnProfile{
    background-color: $bgBlue;
    color: #FFF;
    border: none;
    border-radius: 50%;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 1;
    position: relative;
    margin-left: 20px;

    &:hover{
        background-color: $greenHover;
        color: #FFF;
    }
}